In [1]:
import pandas as pd

In [2]:
path = 'https://raw.githubusercontent.com/edyoda/Data-Scientist-program/master/Practice%20Problems/data/student-mat.csv'

In [3]:
#Function to load the data & show header
def load_and_return_data(path):
    student_data = pd.read_csv(path, sep=';')
    return student_data

In [4]:
load_and_return_data(path).head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [5]:
data = load_and_return_data(path)

In [6]:
#identify columns & dtypes
def identify_cols_dtype(data):
    return data.dtypes

In [7]:
identify_cols_dtype(data)

school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
dtype: object

1. school - student's school (binary: "GP" - Gabriel Pereira or "MS" - Mousinho da Silveira)
2. sex - student's sex (binary: "F" - female or "M" - male)
3. age - student's age (numeric: from 15 to 22)
4. address - student's home address type (binary: "U" - urban or "R" - rural)
5. famsize - family size (binary: "LE3" - less or equal to 3 or "GT3" - greater than 3)
6. Pstatus - parent's cohabitation status (binary: "T" - living together or "A" - apart)
7. Medu - mother's education (numeric: 0 - none, 1 - primary education (4th grade), 2 – 5th to 9th grade, 3 – secondary education or 4 – higher education)
8. Fedu - father's education (numeric: 0 - none, 1 - primary education (4th grade), 2 – 5th to 9th grade, 3 – secondary education or 4 – higher education)
9. Mjob - mother's job (nominal: "teacher", "health" care related, civil "services" (e.g. administrative or police), "at_home" or "other")
10. Fjob - father's job (nominal: "teacher", "health" care related, civil "services" (e.g. administrative or police), "at_home" or "other")
11. reason - reason to choose this school (nominal: close to "home", school "reputation", "course" preference or "other")
12. guardian - student's guardian (nominal: "mother", "father" or "other")
13. traveltime - home to school travel time (numeric: 1 - <15 min., 2 - 15 to 30 min., 3 - 30 min. to 1 hour, or 4 - >1 hour)
14. studytime - weekly study time (numeric: 1 - <2 hours, 2 - 2 to 5 hours, 3 - 5 to 10 hours, or 4 - >10 hours)
15. failures - number of past class failures (numeric: n if 1<=n<3, else 4)
16. schoolsup - extra educational support (binary: yes or no)
17. famsup - family educational support (binary: yes or no)
18. paid - extra paid classes within the course subject (Math or Portuguese) (binary: yes or no)
19. activities - extra-curricular activities (binary: yes or no)
20. nursery - attended nursery school (binary: yes or no)
21. higher - wants to take higher education (binary: yes or no)
22. internet - Internet access at home (binary: yes or no)
23. romantic - with a romantic relationship (binary: yes or no)
24. famrel - quality of family relationships (numeric: from 1 - very bad to 5 - excellent)
25. freetime - free time after school (numeric: from 1 - very low to 5 - very high)
26. goout - going out with friends (numeric: from 1 - very low to 5 - very high)
27. Dalc - workday alcohol consumption (numeric: from 1 - very low to 5 - very high)
28. Walc - weekend alcohol consumption (numeric: from 1 - very low to 5 - very high)
29. health - current health status (numeric: from 1 - very bad to 5 - very good)
30. absences - number of school absences (numeric: from 0 to 93)

these grades are related with the course subject, Math or Portuguese:

1. G1 - first period grade (numeric: from 0 to 20)
2. G2 - second period grade (numeric: from 0 to 20)
3. G3 - final grade (numeric: from 0 to 20, output target)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
school        395 non-null object
sex           395 non-null object
age           395 non-null int64
address       395 non-null object
famsize       395 non-null object
Pstatus       395 non-null object
Medu          395 non-null int64
Fedu          395 non-null int64
Mjob          395 non-null object
Fjob          395 non-null object
reason        395 non-null object
guardian      395 non-null object
traveltime    395 non-null int64
studytime     395 non-null int64
failures      395 non-null int64
schoolsup     395 non-null object
famsup        395 non-null object
paid          395 non-null object
activities    395 non-null object
nursery       395 non-null object
higher        395 non-null object
internet      395 non-null object
romantic      395 non-null object
famrel        395 non-null int64
freetime      395 non-null int64
goout         395 non-null int64
Dalc          395 non-null int64
Walc          395 non-null int64
health        395 non-null int64
absences      395 non-null int64
G1            395 non-null int64
G2            395 non-null int64
G3            395 non-null int64
dtypes: int64(16), object(17)
memory usage: 75.6+ KB

## Q1. Add average marks section ?

In [9]:
def Add_avg_marks(data):
    data["avg_marks"] = (data["G1"] + data["G2"] +data["G3"]) / 3
    return data

In [10]:
Add_avg_marks(data)
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,avg_marks
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,6,5,6,6,5.666667
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,4,5,5,6,5.333333
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,10,7,8,10,8.333333
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,2,1,1,5,2,15,14,15,14.666667
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,4,6,10,10,8.666667

## Q2. Plot the relationship between romantic & average marks ?

In [11]:
import matplotlib.pyplot as plt
%matplotlib inline

## Q3. Does the data have any missing values ?

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 34 columns):
school        395 non-null object
sex           395 non-null object
age           395 non-null int64
address       395 non-null object
famsize       395 non-null object
Pstatus       395 non-null object
Medu          395 non-null int64
Fedu          395 non-null int64
Mjob          395 non-null object
Fjob          395 non-null object
reason        395 non-null object
guardian      395 non-null object
traveltime    395 non-null int64
studytime     395 non-null int64
failures      395 non-null int64
schoolsup     395 non-null object
famsup        395 non-null object
paid          395 non-null object
activities    395 non-null object
nursery       395 non-null object
higher        395 non-null object
internet      395 non-null object
romantic      395 non-null object
famrel        395 non-null int64
freetime      395 non-null int64
goout         395 non-null int64
Dalc          395 non-null int64
Walc          395 non-null int64
health        395 non-null int64
absences      395 non-null int64
G1            395 non-null int64
G2            395 non-null int64
G3            395 non-null int64
avg_marks     395 non-null float64
dtypes: float64(1), int64(16), object(17)
memory usage: 78.7+ KB

* by seeing the info we can say that there were not missing value columns

## Q4. Transform all the categorial columns into numberical columns ?

In [21]:
from sklearn.preprocessing import LabelEncoder

In [22]:
def transform_categorical(data):
    
    label_encodings = {}
    
    for col in data.select_dtypes('O').columns:
        label_encodings[col+'_en'] = LabelEncoder()
        data[col] = label_encodings[col+'_en'].fit_transform(data[col])
            
    return label_encodings, data

In [23]:
label_encodings , data = transform_categorical(data)

In [24]:
label_encodings

{'school_en': LabelEncoder(),
 'sex_en': LabelEncoder(),
 'address_en': LabelEncoder(),
 'famsize_en': LabelEncoder(),
 'Pstatus_en': LabelEncoder(),
 'Mjob_en': LabelEncoder(),
 'Fjob_en': LabelEncoder(),
 'reason_en': LabelEncoder(),
 'guardian_en': LabelEncoder(),
 'schoolsup_en': LabelEncoder(),
 'famsup_en': LabelEncoder(),
 'paid_en': LabelEncoder(),
 'activities_en': LabelEncoder(),
 'nursery_en': LabelEncoder(),
 'higher_en': LabelEncoder(),
 'internet_en': LabelEncoder(),
 'romantic_en': LabelEncoder()}

In [25]:
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,avg_marks
0,0,0,18,1,0,0,4,4,0,4,...,3,4,1,1,3,6,5,6,6,5.666667
1,0,0,17,1,0,1,1,1,0,2,...,3,3,1,1,3,4,5,5,6,5.333333
2,0,0,15,1,1,1,1,1,0,2,...,3,2,2,3,3,10,7,8,10,8.333333
3,0,0,15,1,0,1,4,2,1,3,...,2,2,1,1,5,2,15,14,15,14.666667
4,0,0,16,1,0,1,3,3,2,2,...,3,2,1,2,5,4,6,10,10,8.666667

## Q5. Create a regression for predicting marks based on other columns

In [26]:
from sklearn.linear_model import LinearRegression

In [27]:
def Create_linear_model():
    lr = LinearRegression()
    return lr

In [28]:
lr = Create_linear_model()

## Q6. Split the model into train & test

In [59]:
featureData = data.drop( columns=['avg_marks'])
targetData = data['avg_marks']

In [60]:
data.shape

(395, 34)

In [61]:
featureData.shape

(395, 33)

In [63]:
targetData.shape

(395,)

In [34]:
from sklearn.model_selection import train_test_split

In [64]:
def split_data( featureData , target):
    X_train, X_test, y_train, y_test = train_test_split( featureData, target)
    return X_train, X_test, y_train, y_test

In [65]:
X_train, X_test, y_train, y_test = split_data( featureData , target )

## Q7. Train the model using training data ?

In [66]:
def train_model(lr , X_train, y_train):
    lr.fit(X_train, y_train)
    return lr

In [67]:
lr = Create_linear_model()
lr = train_model( lr , X_train , y_train)

## Q8. Test the model using test data ?

In [68]:
def test_model(lr, X_test, y_test):
    y_pred = lr.predict(X_test)
    return y_pred

In [69]:
y_pred = test_model(lr, X_test, y_test)

## Q9. Find accuracy of the model using score function ?

In [70]:
def get_score(lr, X_test, y_test):
    print('Score:', lr.score(X_test, y_test))

In [71]:
get_score(lr , X_test , y_test)

Score: 1.0

## Q10. Create classification model for predicting if internet in available to the student

In [72]:
from sklearn.linear_model import LogisticRegression

In [73]:
def create_classification_model():
    class_model = LogisticRegression()
    return class_model

In [77]:
class_model = create_classification_model()

## Q11. Split data for training & testing ?

In [74]:
featureData1 = data.drop( columns=['internet'])
targetData1 = data['internet']

In [75]:
featureData1.shape

(395, 33)

In [76]:
targetData1.shape

(395,)

In [79]:
X_train, X_test, y_train, y_test = split_data( featureData1, targetData1)

## Q12. Train classification model

In [80]:
class_model = train_model( class_model , X_train , y_train)

c:\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

## Q13. Find score, test for few more models (LogisticRegression, DecisionTree, RandomForest )

In [81]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [82]:
def test_for_logistic_regression(X_train, y_train, X_test, y_test):
    log_reg = LogisticRegression()
    log_reg.fit(X_train, y_train)
    print('Logistic Regression score:', log_reg.score(X_test, y_test))
    
    
def test_for_decision_tree(X_train, y_train, X_test, y_test):
    decision_tree = DecisionTreeClassifier()
    decision_tree.fit(X_train, y_train)
    print('Decision Tree score:', decision_tree.score(X_test, y_test))
    
def test_for_random_forest(X_train, y_train, X_test, y_test):
    random_forest = RandomForestClassifier(n_estimators=10)
    random_forest.fit(X_train, y_train)
    print('Random Forest score:', random_forest.score(X_test, y_test))

In [83]:
test_for_logistic_regression(X_train, y_train, X_test, y_test)
test_for_decision_tree(X_train, y_train, X_test, y_test)
test_for_random_forest(X_train, y_train, X_test, y_test)

c:\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

Logistic Regression score: 0.8181818181818182
Decision Tree score: 0.797979797979798
Random Forest score: 0.8282828282828283

## Q14. Cluster the students into 3 groups using KMeans

In [84]:
from sklearn.cluster import KMeans

In [95]:
kmean = KMeans( n_clusters= 3)
kmean.fit(data)
label = kmean.predict(data)
label

array([2, 2, 2, 1, 2, 1, 1, 2, 1, 1, 2, 1, 1, 2, 1, 1, 1, 2, 0, 2, 1, 1,
       1, 1, 2, 0, 1, 1, 1, 0, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 0, 1, 1, 2,
       0, 2, 0, 1, 1, 2, 1, 1, 1, 2, 1, 2, 1, 1, 2, 1, 1, 2, 2, 2, 2, 1,
       1, 2, 2, 1, 1, 2, 2, 1, 0, 2, 1, 1, 2, 2, 1, 1, 2, 1, 2, 2, 2, 1,
       0, 0, 2, 1, 2, 2, 1, 2, 1, 2, 1, 2, 0, 1, 1, 0, 1, 1, 2, 1, 1, 1,
       1, 2, 1, 1, 2, 1, 1, 1, 0, 1, 1, 1, 1, 0, 2, 1, 2, 2, 2, 1, 2, 2,
       0, 0, 2, 2, 2, 2, 1, 1, 2, 2, 2, 1, 2, 2, 2, 1, 2, 2, 2, 1, 2, 2,
       1, 2, 1, 2, 1, 1, 2, 2, 2, 2, 2, 0, 2, 1, 2, 1, 2, 1, 1, 2, 2, 2,
       1, 2, 2, 2, 2, 1, 1, 0, 0, 0, 1, 1, 2, 2, 1, 2, 2, 2, 1, 1, 1, 2,
       0, 2, 1, 2, 2, 0, 2, 0, 2, 1, 2, 2, 2, 0, 1, 0, 0, 1, 0, 0, 2, 2,
       2, 2, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 2, 1, 0, 1, 2, 0, 1,
       2, 1, 2, 1, 1, 0, 2, 1, 2, 2, 2, 2, 1, 2, 1, 0, 1, 2, 0, 2, 1, 2,
       2, 1, 2, 1, 2, 2, 0, 1, 1, 1, 2, 1, 0, 0, 0, 2, 0, 0, 1, 2, 2, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0,
       1, 0, 2, 0, 1, 0, 0, 0, 2, 2, 1, 1, 0, 0, 1, 1, 1, 1, 1, 2, 2, 1,
       2, 1, 2, 2, 2, 0, 1, 2, 1, 2, 1, 2, 1, 2, 2, 1, 1, 2, 1, 1, 2, 1,
       2, 2, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 2, 2, 1, 2, 1, 1, 0,
       1, 2, 1, 2, 1, 0, 1, 2, 1, 2, 0, 2, 2, 2, 2, 2, 2, 1, 2, 1, 2],
      dtype=int32)