In [1]:
import pandas as pd

In [21]:
#Datset = http://archive.ics.uci.edu/ml/datasets/Bank+Marketing
bank_data = pd.read_csv('E:/Python journy/start ML/Data/bank/bank.csv', sep=';')

In [22]:
bank_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
age          4521 non-null int64
job          4521 non-null object
marital      4521 non-null object
education    4521 non-null object
default      4521 non-null object
balance      4521 non-null int64
housing      4521 non-null object
loan         4521 non-null object
contact      4521 non-null object
day          4521 non-null int64
month        4521 non-null object
duration     4521 non-null int64
campaign     4521 non-null int64
pdays        4521 non-null int64
previous     4521 non-null int64
poutcome     4521 non-null object
y            4521 non-null object
dtypes: int64(7), object(10)
memory usage: 423.9+ KB

In [23]:
bank_data.sample(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
2284,43,blue-collar,married,secondary,no,3060,yes,no,unknown,15,may,253,2,-1,0,unknown,no
4421,30,management,single,tertiary,no,7845,yes,no,unknown,3,jun,59,1,-1,0,unknown,no
3237,32,entrepreneur,married,primary,no,795,no,no,cellular,8,aug,131,3,-1,0,unknown,no
4003,26,student,single,secondary,no,-147,no,no,unknown,4,jun,95,2,-1,0,unknown,no
672,32,entrepreneur,married,unknown,no,73,yes,no,cellular,21,nov,158,1,135,1,failure,no
3400,32,services,married,tertiary,no,4908,no,yes,cellular,13,may,491,2,-1,0,unknown,no
1988,56,admin.,divorced,secondary,no,985,no,yes,cellular,18,aug,150,2,-1,0,unknown,no
3190,39,services,married,secondary,no,186,yes,no,cellular,17,apr,433,1,-1,0,unknown,no
78,50,blue-collar,divorced,primary,no,388,no,no,cellular,5,feb,701,1,-1,0,unknown,no
4113,43,self-employed,single,tertiary,no,0,no,no,unknown,19,jun,147,1,-1,0,unknown,no

### Try understand the data
#### As we know categorical columns cannot be used for model training
* Try exploring LabelEncoder for concerting the categorical columns into numbers before training the model

In [24]:
cate_cols = bank_data.select_dtypes(['O']).columns
cate_cols

Index(['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
       'month', 'poutcome', 'y'],
      dtype='object')

In [25]:
numeri_data = bank_data

In [13]:
from sklearn.preprocessing import LabelEncoder

In [26]:
label_encoders = {}
for col in cate_cols:
    le = LabelEncoder()
    label_encoders[col] = le.fit(numeri_data[col])
    numeri_data[col] = le.transform(numeri_data[col])

In [27]:
label_encoders

{'job': LabelEncoder(),
 'marital': LabelEncoder(),
 'education': LabelEncoder(),
 'default': LabelEncoder(),
 'housing': LabelEncoder(),
 'loan': LabelEncoder(),
 'contact': LabelEncoder(),
 'month': LabelEncoder(),
 'poutcome': LabelEncoder(),
 'y': LabelEncoder()}

In [28]:
numeri_data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,10,1,0,0,1787,0,0,0,19,10,79,1,-1,0,3,0
1,33,7,1,1,0,4789,1,1,0,11,8,220,1,339,4,0,0
2,35,4,2,2,0,1350,1,0,0,16,0,185,1,330,1,0,0
3,30,4,1,2,0,1476,1,1,2,3,6,199,4,-1,0,3,0
4,59,1,1,1,0,0,1,0,2,5,8,226,1,-1,0,3,0

In [33]:
numeri_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
age          4521 non-null int64
job          4521 non-null int32
marital      4521 non-null int32
education    4521 non-null int32
default      4521 non-null int32
balance      4521 non-null int64
housing      4521 non-null int32
loan         4521 non-null int32
contact      4521 non-null int32
day          4521 non-null int64
month        4521 non-null int32
duration     4521 non-null int64
campaign     4521 non-null int64
pdays        4521 non-null int64
previous     4521 non-null int64
poutcome     4521 non-null int32
y            4521 non-null int32
dtypes: int32(10), int64(7)
memory usage: 423.9 KB

### Splitting the feature and target data

In [35]:
#getting feature data from the complete information
feature_data = numeri_data.drop(columns=['y'])

In [36]:
target_data = numeri_data.y

In [37]:
print(feature_data.shape)
print(target_data.shape)

(4521, 16)
(4521,)

### Splitting train & test data

In [38]:
#splitting feature & target data into train & test
from sklearn.model_selection import train_test_split

In [39]:
trainX, testX, trainY, testY = train_test_split(feature_data, target_data)

In [44]:
print(trainX.shape)
print(testX.shape)

(3390, 16)
(1131, 16)

### Scalling Feature Data

In [40]:
from sklearn.preprocessing import MinMaxScaler

In [42]:
mm = MinMaxScaler()

In [43]:
mm.fit(trainX)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [45]:
trainX_tf = mm.transform(trainX)

### Creating Model

In [46]:
from sklearn.neighbors import KNeighborsClassifier

In [47]:
knc = KNeighborsClassifier(n_neighbors=5)

In [48]:
knc.fit(trainX_tf,trainY)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [49]:
testX_tf = mm.transform(testX)

In [51]:
predictions = knc.predict(testX_tf)

In [53]:
df = pd.DataFrame({'Actual':testY, 'Prediction':predictions})
df.sample(10)

      Actual  Prediction
1728       0           0
3800       0           0
523        0           0
4311       0           0
2989       0           0
1752       0           0
3124       0           0
1374       0           1
1992       0           0
3230       0           0

In [54]:
knc.score(testX_tf,testY)

0.8859416445623343

### Getting the best k for high score

In [55]:
for k in range(2,8):
    print ('k = ',k)
    knc = KNeighborsClassifier(n_neighbors = k)
    knc.fit(trainX_tf,trainY)
    print('Train Acc',knc.score(trainX_tf,trainY))
    print('Test Acc',knc.score(testX_tf,testY))

k =  2
Train Acc 0.9094395280235988
Test Acc 0.8894783377541998
k =  3
Train Acc 0.9179941002949853
Test Acc 0.8824049513704686
k =  4
Train Acc 0.896165191740413
Test Acc 0.8894783377541998
k =  5
Train Acc 0.9002949852507375
Test Acc 0.8859416445623343
k =  6
Train Acc 0.8932153392330383
Test Acc 0.8885941644562334
k =  7
Train Acc 0.8946902654867257
Test Acc 0.8885941644562334

### Passing the Full data for prediction

In [56]:
bank_full_data = pd.read_csv('E:/Python journy/start ML/Data/bank/bank-full.csv', sep=';')

In [57]:
bank_full_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
age          45211 non-null int64
job          45211 non-null object
marital      45211 non-null object
education    45211 non-null object
default      45211 non-null object
balance      45211 non-null int64
housing      45211 non-null object
loan         45211 non-null object
contact      45211 non-null object
day          45211 non-null int64
month        45211 non-null object
duration     45211 non-null int64
campaign     45211 non-null int64
pdays        45211 non-null int64
previous     45211 non-null int64
poutcome     45211 non-null object
y            45211 non-null object
dtypes: int64(7), object(10)
memory usage: 4.1+ MB

### Label Encodeing

In [58]:
label_encoders

{'job': LabelEncoder(),
 'marital': LabelEncoder(),
 'education': LabelEncoder(),
 'default': LabelEncoder(),
 'housing': LabelEncoder(),
 'loan': LabelEncoder(),
 'contact': LabelEncoder(),
 'month': LabelEncoder(),
 'poutcome': LabelEncoder(),
 'y': LabelEncoder()}

In [60]:
for col in cate_cols:
    bank_full_data[col] = label_encoders[col].transform(bank_full_data[col])

In [61]:
bank_full_data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,4,1,2,0,2143,1,0,2,5,8,261,1,-1,0,3,0
1,44,9,2,1,0,29,1,0,2,5,8,151,1,-1,0,3,0
2,33,2,1,1,0,2,1,1,2,5,8,76,1,-1,0,3,0
3,47,1,1,3,0,1506,1,0,2,5,8,92,1,-1,0,3,0
4,33,11,2,3,0,1,0,0,2,5,8,198,1,-1,0,3,0

### Splitting the feature and target data from full data

In [63]:
feature_full_data = bank_full_data.drop(columns=['y'])

In [64]:
target_full_data = bank_full_data.y

In [65]:
print(feature_full_data.shape)
print(target_full_data.shape)

(45211, 16)
(45211,)

### Scalling Feature Data

In [66]:
feature_full_data_tf = mm.transform(feature_full_data)

### Createing model with the best K = 4

In [67]:
knc = KNeighborsClassifier(n_neighbors = 4)
knc.fit(trainX_tf,trainY)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=4, p=2,
                     weights='uniform')

In [69]:
print('Train Acc',knc.score(trainX_tf,trainY))
print('Test Acc',knc.score(testX_tf,testY))

Train Acc 0.896165191740413
Test Acc 0.8894783377541998

### Full data Acc. Score

In [70]:
knc.score( feature_full_data_tf , target_full_data)

0.8852491650262104

### Let's Validate the best k for Fulldata

In [72]:
for k in range(2,8):
    print ('k = ',k)
    knc = KNeighborsClassifier(n_neighbors = k)
    knc.fit(trainX_tf,trainY)
    print('Train Acc on some data',knc.score(trainX_tf,trainY))
    print('Test Acc on Full data',knc.score(feature_full_data,target_full_data))

k =  2
Train Acc on some data 0.9094395280235988
Test Acc on Full data 0.87587091636991
k =  3
Train Acc on some data 0.9179941002949853
Test Acc on Full data 0.6745703479241777
k =  4
Train Acc on some data 0.896165191740413
Test Acc on Full data 0.8721992435469245
k =  5
Train Acc on some data 0.9002949852507375
Test Acc on Full data 0.6930393045940147
k =  6
Train Acc on some data 0.8932153392330383
Test Acc on Full data 0.8240472451394573
k =  7
Train Acc on some data 0.8946902654867257
Test Acc on Full data 0.6729999336444671

## **Conclusion** 
* we are getting the best scores at k = 4