# **Predicting client subscribed a term deposit**

In [0]:
import pandas as pd
import numpy as np

In [0]:
bank_data = pd.read_csv('https://raw.githubusercontent.com/edyoda/data-science-complete-tutorial/master/Data/bank-full.csv',sep=';')

In [3]:
bank_data

       age           job   marital  education  ... pdays  previous poutcome    y
0       58    management   married   tertiary  ...    -1         0  unknown   no
1       44    technician    single  secondary  ...    -1         0  unknown   no
2       33  entrepreneur   married  secondary  ...    -1         0  unknown   no
3       47   blue-collar   married    unknown  ...    -1         0  unknown   no
4       33       unknown    single    unknown  ...    -1         0  unknown   no
...    ...           ...       ...        ...  ...   ...       ...      ...  ...
45206   51    technician   married   tertiary  ...    -1         0  unknown  yes
45207   71       retired  divorced    primary  ...    -1         0  unknown  yes
45208   72       retired   married  secondary  ...   184         3  success  yes
45209   57   blue-collar   married  secondary  ...    -1         0  unknown   no
45210   37  entrepreneur   married  secondary  ...   188        11    other   no

[45211 rows x 17 columns]

In [4]:
bank_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [21]:
bank_data.y.value_counts()

no     39922
yes     5289
Name: y, dtype: int64

# **Data Preprocessing**

In [0]:
feature_data = bank_data.drop(columns=['y'])
target_data = bank_data.y

### **Logistic Regression**

In [0]:
oe = OrdinalEncoder()
oe.fit(cat_data)
ss = StandardScaler()
ss.fit(int_data)
cat = pd.DataFrame(data = oe.transform(cat_data) , columns=cat_data.columns)
inte = pd.DataFrame(data = ss.transform(int_data), columns= int_data.columns)

In [0]:
features = pd.concat([cat, inte], axis=1)

In [0]:
trainX, testX, trainY, testY = train_test_split(features, target_data)

In [80]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(trainX,trainY)
lr.score(testX,testY)

0.8888790586569937

### **Splitting Data**

In [0]:
from sklearn.model_selection import train_test_split
trainX, testX, trainY, testY = train_test_split(feature_data, target_data)

In [0]:
cat_data = feature_data.select_dtypes(include=['object'])

In [43]:
cat_data.columns

Index(['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
       'month', 'poutcome'],
      dtype='object')

In [0]:
int_data = feature_data.select_dtypes(include=['int'])

In [44]:
int_data.columns

Index(['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous'], dtype='object')

In [0]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.preprocessing import OrdinalEncoder
from sklearn.pipeline import make_pipeline
from sklearn.compose import make_column_transformer
from sklearn.feature_selection import SelectKBest, f_classif

In [0]:
cat_pipeline = make_pipeline(OrdinalEncoder())

In [0]:
int_pipeline = make_pipeline(StandardScaler())

In [0]:
preprocessor = make_column_transformer(
              (cat_pipeline,cat_data.columns),
              (int_pipeline,int_data.columns)
)

### **RandomForest Classifier**

In [0]:
from sklearn.ensemble import RandomForestClassifier

In [0]:
pipeline = make_pipeline(preprocessor, RandomForestClassifier(n_estimators=100))

In [56]:
pipeline.fit(trainX , trainY)

Pipeline(memory=None,
         steps=[('columntransformer',
                 ColumnTransformer(n_jobs=None, remainder='drop',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('pipeline-1',
                                                  Pipeline(memory=None,
                                                           steps=[('ordinalencoder',
                                                                   OrdinalEncoder(categories='auto',
                                                                                  dtype=<class 'numpy.float64'>))],
                                                           verbose=False),
                                                  Index(['job', 'marital', 'education', 'default', 'housing'...
                 RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                        class_weight=None, criterion='gini',
                                        max_depth=None, max_features='auto',
                                        max_leaf_nodes=None, max_samples=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1, min_samples_split=2,
                                        min_weight_fraction_leaf=0.0,
                                        n_estimators=100, n_jobs=None,
                                        oob_score=False, random_state=None,
                                        verbose=0, warm_start=False))],
         verbose=False)

In [57]:
pipeline.score(testX,testY)

0.9062195877200743

In [0]:
y_pred = pipeline.predict(testX)

In [59]:
from sklearn.metrics import confusion_matrix
confusion_matrix(testY, y_pred)

array([[9691,  291],
       [ 769,  552]])

In [53]:
testY.value_counts()

no     9982
yes    1321
Name: y, dtype: int64

### **Feature Selection**

In [0]:
pipeline = make_pipeline(preprocessor,SelectKBest(k=10, score_func=f_classif), RandomForestClassifier(n_estimators=100))

In [49]:
pipeline.fit(trainX , trainY)

Pipeline(memory=None,
         steps=[('columntransformer',
                 ColumnTransformer(n_jobs=None, remainder='drop',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('pipeline-1',
                                                  Pipeline(memory=None,
                                                           steps=[('ordinalencoder',
                                                                   OrdinalEncoder(categories='auto',
                                                                                  dtype=<class 'numpy.float64'>))],
                                                           verbose=False),
                                                  Index(['job', 'marital', 'education', 'default', 'housing'...
                 RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                        class_weight=None, criterion='gini',
                                        max_depth=None, max_features='auto',
                                        max_leaf_nodes=None, max_samples=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1, min_samples_split=2,
                                        min_weight_fraction_leaf=0.0,
                                        n_estimators=100, n_jobs=None,
                                        oob_score=False, random_state=None,
                                        verbose=0, warm_start=False))],
         verbose=False)

In [50]:
pipeline.score(testX,testY)

0.8927718304874812

In [0]:
y_pred = pipeline.predict(testX)

In [52]:
from sklearn.metrics import confusion_matrix
confusion_matrix(testY, y_pred)

array([[9590,  392],
       [ 820,  501]])

### **Hyper-parameter tuning GridSearchCV**

In [0]:
from sklearn.model_selection import GridSearchCV

In [0]:
pipeline = make_pipeline(preprocessor,SelectKBest(k=10, score_func=f_classif), RandomForestClassifier(n_estimators=100))

In [0]:
params = {'selectkbest__k':[14,15,16], 'randomforestclassifier__n_estimators':[100,200,250]}

In [0]:
gs = GridSearchCV(pipeline, param_grid=params, cv=5, n_jobs=4)

In [71]:
gs.fit(trainX, trainY)

GridSearchCV(cv=5, error_score=nan,
             estimator=Pipeline(memory=None,
                                steps=[('columntransformer',
                                        ColumnTransformer(n_jobs=None,
                                                          remainder='drop',
                                                          sparse_threshold=0.3,
                                                          transformer_weights=None,
                                                          transformers=[('pipeline-1',
                                                                         Pipeline(memory=None,
                                                                                  steps=[('ordinalencoder',
                                                                                          OrdinalEncoder(categories='auto',
                                                                                                         dtype=<class 'numpy.float64'>))],
                                                                                  verbose=False),
                                                                         Index(['jo...
                                                               min_samples_split=2,
                                                               min_weight_fraction_leaf=0.0,
                                                               n_estimators=100,
                                                               n_jobs=None,
                                                               oob_score=False,
                                                               random_state=None,
                                                               verbose=0,
                                                               warm_start=False))],
                                verbose=False),
             iid='deprecated', n_jobs=4,
             param_grid={'randomforestclassifier__n_estimators': [100, 200,
                                                                  250],
                         'selectkbest__k': [14, 15, 16]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [72]:
gs.best_params_

{'randomforestclassifier__n_estimators': 200, 'selectkbest__k': 16}

In [73]:
gs.best_score_

0.9054204483349425

* We got maximum score of RandomForest Classifier.